<div class="message">
  <div class="container">
    <div class="row">
      <div class="col-3 user">
        <h4 class="align-self-center">{{chatMessage.userName}}</h4>
      </div>
      <div class="col-9 content">
        <p *ngIf="chatMessage.message !== ''">{{chatMessage.message}}</p>

        <small>{{chatMessage.timeSent}}</small>
      </div>
    </div>
  </div>
</div>
<!--
 <div *ngIf="chatMessage.file !== ''">
          <p *ngIf="chatMessage.file.substr(-3,3) === 'png' || chatMessage.file.substr(-3,3) === 'jpg'">
            <embed [src]="" width="800px" height="200px" internalinstanceid="2">
          </p>
          <p *ngIf="chatMessage.file.substr(-3,3) === 'png' || chatMessage.file.substr(-3,3) === 'jpg'">
            <img [src]="" alt="ans">
          </p>
        </div>
        -->
