<form #form="ngForm" (ngSubmit)="signUp()">
  <div class="form-group">
    <label>User Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      [(ngModel)]="username"
      required
      #name="ngModel"
    >
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      name="mail"
      class="form-control"
      [ngClass]="{
          'is-invalid': mail.invalid && (mail.dirty || mail.touched),
          'is-valid': mail.valid && mail.dirty
        }"
      [(ngModel)]="email"
      required
      pattern="[^ @]*@[^ @]*"
      #mail="ngModel"
    >
    <div class="invalid-feedback" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <div *ngIf="mail.errors.required" >
        Email is required
      </div>
      <div *ngIf="mail.errors.pattern" >
        Invalid Email
      </div>
    </div>
    <!--<pre>Dirty? {{ email.dirty }}</pre>-->
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      type="password"
      name="pass"
      class="form-control"
      [(ngModel)]="password"
      required
      #pass="ngModel"
    >
  </div>
  <div class="mt-4">
    <button
      [disabled]="form.invalid"
      type="submit"
      class="btn btn-primary" (click)="signUp()">Sign Up</button>
  </div>
</form>
