<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3">
    <input type="text" class="form-control" required placeholder="Write Message"
         name="msg" [(ngModel)]="message" #msg="ngModel" aria-describedby="send-message"
         fileDrop
         (filesDropped)="upload.startUplod($event)"
         (filesHovered)="upload.toggleHover($event)"
         [class.hovering]="upload.isHovering">

    <div class="input-group-append">
      <label class="button-icon bg-white">
        <i class="far fa-smile"></i>
      </label>
      <label class="button-icon bg-white">
        <i class="far fa-file-image"></i> <input type="file" style="display: none;" (change)="detectFiles($event)">
      </label>
      <button [disabled]="f.invalid || currentUpload" class="btn btn-outline-secondary" type="submit" id="send-message"
      (click)="send()">
        Send
      </button>
    </div>
  </div>
<!--
  <div *ngIf="currentUpload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
    </div>
    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
  </div>
  <label>
    <input type="file" (change)="detectFiles($event)">
  </label>

  <button
    [disabled]="!selectedFiles"
    (click)="uploadSingle()">

    Upload Multiple
  </button>
  -->
</form>
